nav.navbar.navbar-expand-lg.navbar-light
	a.navbar-brand(href='/accueil') Faire Part
	form.form-inline.my-1.my-lg-0(action="/signIn" method="POST")
		input.input-group.mr-sm-1(type='text', name="pseudo", placeholder="Pseudo", aria-label='name')
		input.input-group.mr-sm-1(type='text', name="password", placeholder="******", aria-label='motDePasse')
		button.btn.my-2.my-sm-0(type='submit') Connexion
	.align-items-center
		a.btn.lienSub.my-2.my-sm-0(href="/sub") Inscription
	if user	
		a.lienSub.list-group-item(href="/logout") Déconnexion
		span.userDisplayed= user.name
