<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab", rel="stylesheet")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        link(rel="stylesheet", href="static/css/style.css")
        title Gigot bitume
    body
        #page
            a.return(href="/") Retour
            h1.marginTop Le Gigot bitume
            a.moulinDyves(href="https://www.moulindyves.com") 
                img(src="static/img/liens/moulinDyves.gif", alt="moulinDyves ?") 
            
            p    
                | Le gigot bitume est un gigot enveloppé de papier kraft et cuit dans un bain de bitume en fusion.

                | C'est une préparation traditionnelle en France lors de repas célébrant la fin du gros œuvre sur des chantiers de bâtiments ou de travaux publics1,2,3.

            h2 Histoire
            p
                | La recette, nommée alors "gigot cuit dans le goudron.", apparaît dans un recueil de cuisine, La Vraie cuisine pratique : Les potages, les poissons, le bœuf, le veau, l'agneau, le mouton, le porc, la volaille, le gibier, par Marinette, Éditions Montgredien, 1900, p. 141 : « Voici un mode bizarre de cuisson qui peut rendre service à bien des travailleurs. 
                | Je donne la recette telle qu'on me l'a transmise.
                | Dans la chaudière pleine d'asphalte, lorsqu'on bitume le sol, plongez un gigot enveloppé dans du papier très fort. A l'aide d'une pierre attachée à son extrémité, on l'entraîne au milieu du goudron. 
                | Une heure de cuisson donne une viande cuite à point et d'un goût particulier excellent. Saler en sortant du feu.» 
                | L'usage de ce type de cuisson, qui est propre aux travailleurs de l’asphalte, existe donc à la toute fin du XIXe siècle.