* {
    margin: 0;
}

body {
    min-height: 944px;
    margin:auto; 
    font-family: 'Roboto Slab', serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(rgb(221, 221, 221), #5c5c5c);
    /* background: linear-gradient(#525252, #c8c8c8); */
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-image: url('https://atelier808.fr/14-tm_thickbox_default/plan-architecture.jpg') */
    /* background-image: url('https://www.ville-de-chauray.fr/images/articles/plan-en-rouleau.jpg'); */

}

#page {
    padding: 2%;
    margin: 2% auto 5px;
    width: 970px;
    border-radius: 6px;
    background-color: #ffeed5;
}

.intro {
    padding: 4% 4% 1% 4%;
    margin-bottom: 1%;
}

.intro p {
    padding: 2px;
    text-align: justify;
    margin-bottom: 1%;
    text-align: center;
}

.imgQuestion{
    max-width: 330px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    text-align: center;
    display: block;
}
.definition{
    line-height: normal;
    font-family: 'Roboto Slab', serif;
    font-size: 5.5rem;
    font-weight: bolder;
    position: absolute;
    left: 72%;
    top: 30px;
    text-shadow: #e8a723 0.006em 0.006em 0.007em, #dd9f20 1px 1px 1px, #dd9f20 1px 2px 1px, #c18b1c 1px 3px 1px, #aa7a17 1px 4px 1px, #7e5c16 1px 5px 1px, rgba(0, 0, 0, 0.4) 1px 7px 3px, rgba(16, 16, 16, 0.2) 1px 7px 5px;
    color: #ffb724;
    border-radius: 60px;
}

.definition:hover{
    color: #ff5858;
    text-shadow: #000000 1px 1px 3px;
    transition: all 0.25s;
    text-decoration: none;
}

span{
    color: #e8a723;
}

.marginTop{
    margin-top: 5%;
}

.moulinDyves{
    margin-top: 2%;
    text-align: center;
    color: #585858;
}
.moulinDyves:hover{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.moulinDyves img{
    filter: drop-shadow(0 0 8px #000000);
    border-radius: 40px;
    margin-left: 36%;
    width: auto;
}

.moulinDyves img:hover{
    filter: drop-shadow(0 0 0 #000000);
    transition: all 0.25s;
}

.return{
    text-transform: uppercase;
    text-align: center;
    padding: 3px 15px;
    margin: 45%;
    background-color: #ff9400a8;
    border-radius: 10px;
    color: #000000;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.return:hover{
    background-color: #ffaa00;
    box-shadow: inset #331600c9 0px 0px 6px 0px;
    transition: all 0.25s;
    text-decoration: none;
    color: #000000;
}

button {
    cursor: pointer;
    margin: 2% 0 1% 44%;
    background-color: #ffb724;
    padding: 6px 15px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: rgba(122, 82, 0, 0.69) 2px 2px 10px 0px;
}

button:hover{
    background-color: #ffaa00;
    box-shadow: none;
    transition: all 0.5s;
}

.header{
    background-color: #ffffff66;
    border-radius: 40px;
    margin: -40px 1% 1% 1%;
    box-shadow: #ffffffb8 0px 0px 30px 5px;

}
h1{
    margin-top: 5%;
}
h1,
h2{
    color: #ff5656;
    text-shadow: #000000c7 4px 2px 3px;
    font-weight: bold;
    text-align: center;
}
h3{
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

ul{
    padding: 1%;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin: 1% 0 1% 0;
    padding: 8px;
    cursor: pointer;
}
img{
    max-width: 350px;
    height: auto;
    margin-left: 26%;
    margin-bottom: 2%;
    list-style: none;
    text-align: center;
}
ul li:hover {
    border-radius: 5px;
    /* background-color: #ffdc81; */
    box-shadow: #2727279c 4px 4px 10px 0px;
    transition: 0.5s all;
}

ul li:visited,
ul li:active,
ul li:focus {
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    box-shadow: inset rgba(0, 0, 0, 0.719) 0px 0px 12px;
}


/* ul li:hover~li,
ul li:hover :has(li) {
    border-radius: 5px;
    opacity: 0.4;
    transition: 0.5s all;
} */

.choice{
    border-radius:6px; 
}
.bouffe{background: linear-gradient(#ffafa085, #ff4f3085)}
.vegan{background: linear-gradient(#9fffaf85, #2aff4e85)}
.revolte{background: linear-gradient(#d3a3ff85, #9b30ff85)}
.alcool{background: linear-gradient(#a0e9ff85, #2cceff85)}

#askFin li{
    cursor: default;
    list-style: none;
}

#askFin ul li:hover{
    box-shadow: none;
    background-color: #ffeed5;
    cursor: default;
    list-style: none;
}

#askFin p {
    padding: 1%;
}

.reset{
    display: none;
    margin: 5% auto 0px;
    width: min-content;
    color: rgba(255, 255, 255, 0.91);
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #84848496;
    padding: 3px 8px 3px 8px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    /* text-shadow: rgba(0, 0, 0, 0.74) 1px 0px 4px; */
    font-weight: bold;
    font-size: 0.6rem;
    /* box-shadow: inset rgb(0, 0, 0) 0px 0px 6px 0px; */
}
.reset:hover{
    color: rgb(255, 255, 255);
    background-color: #747474c2;
    text-decoration: none;
    letter-spacing: 2px;
    box-shadow: inset black 0px 0px 5px;
    transition: all 0.25s;
}
footer p {
    padding: 1%;
    color: #ffffff;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 0.6rem;
    text-shadow: 1px 0px 4px #000000;
    top: 5%;
}


@media screen and (min-width: 415px) and (max-width: 1000px){
    #page {
        width: auto;
        padding: 8% 2% 3% 2%;
        margin: 3%;
    }
    .definition{
        display: block;
        left: 40%;
        top: -190px;
        position: absolute;
    }
    ul li {
        margin: 3% 0 3% 0;
    }
    footer p{
        margin-top: 14%;
    }
    button{
        margin-left: 40%;
    }
}
@media screen and (max-width: 414px){
    #page {
        width: auto;
        padding: 19% 2% 3% 2%;
        margin: 0px;
    }
    .definition{
        display: block;
        left: 45%;
        top: -20px;
        position: absolute;
    }
    ul li {
        margin: 3% 0 3% 0;
    }
    footer p{
        margin-top: 4%;
    }
    button{
        margin-left: 135px;
    }
}
